@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Outfit";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
@media (max-width:740px){
    .active p{
        @apply text-white bg-primary;
    }
}